<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}" />
    <link rel="shortcut icon" href="{{=URL('static','images/visie.gif')}}" type="image/x-icon">
    <title>Autenticador Visie</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img style="width: 10%;" src="{{=URL('static','images/visie.svg')}}"></a>
        </nav>
    </header>

    <main>
        <div class="container">
            <br><br><br><br>
            <h4>Autenticador JWT Visie</h4>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</body>

</html>